<!DOCTYPE html> <!--tipul documentului -->
<html lang="ro"> <!--limba documentului -->

<head> <!--capul documentului -->
    <meta name="keywords"
        content="tradiție, artizanal, mestesug, suvenir, românesc, ceramica, muzica, bucate, folclor, decoratiuni, vestimentatie, sculptură, artă, original, autentic, lucrat manual, materiale naturale, personalizat, cadou">
    <!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <meta name="description" content="Magazin artinzanal.">
    <!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
    <title>Din targ</title>

    <%- include("../fragmente/head.ejs") %> <!--include fragmentul head.ejs -->

</head>

<body> <!--corpul documentului -->
    <%- include("../fragmente/header.ejs") %> <!--include fragmentul header.ejs -->

    <main>
        A doua pagina
    </main>

    <%- include("../fragmente/footer.ejs") %> <!--include fragmentul footer.ejs -->
</body>

</html>