<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords"
        content="tradiție, artizanal, mestesug, suvenir, românesc, ceramica, muzica, bucate, folclor, decoratiuni, vestimentatie, sculptură, artă, original, autentic, lucrat manual, materiale naturale, personalizat, cadou, galerie">
    <meta name="description" content="Galerie de produse artizanale românești">
    <title>Galerie - Din targ</title>

    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>

    <main>
        <h1>Galeria noastră de produse tradiționale</h1>
        <p class="descriere-pagina">
            Aici puteți admira colecția noastră de produse artizanale românești. Fiecare imagine reprezintă un produs lucrat manual,
            cu atenție la detalii și respectând tradiția meșteșugărească românească. Vă invităm să descoperiți frumusețea și autenticitatea
            acestor creații, fiecare cu o poveste unică și o valoare deosebită.
        </p>

        <%- include("../fragmente/galerie_frag.ejs") %>
    </main>

    <%- include("../fragmente/footer.ejs") %>
</body>

</html> 