<footer>
    <section>
        <div class="contact-links">
            <h2>Contact</h2>
            <br>
            <a href="tel:+40732815694">Telefon</a>
            <br>
            <br>
            <a href="mailto:DinTarg@gmail.com">Mail Din Targ</a>
            <br>
            <br>
            <a href="https://api.whatsapp.com/send?phone=40732815694">Trimite-ne un mesaj pe Whatsapp</a>
        </div>

        <div class="location-info">
            <img src="./resurse/imagini/harta_mic.png" alt="Harta unde ne gasesti" usemap="#harta-ro">
            <br>
            <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwOC4wIKXMDSoASAFQAw%3D%3D"
                target="_blank">Adresa maps</a>

            <map name="harta-ro">
                <area shape="rect" coords="10, 10, 100, 100" href="bucuresti.html" alt="București">
                <area shape="circle" coords="200, 200, 50" href="cluj.html" alt="Cluj-Napoca">
                <area shape="poly" coords="300, 300, 350, 350, 250, 350" href="iasi.html" alt="Iași">
                <area shape="rect" coords="400, 400, 500, 500"
                    href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwOC4wIKXMDSoASAFQAw%3D%3D"
                    target="_blank" alt="Adresa maps">
            </map>
        </div>

        <section id="harta-iframe">
            <h2>Locația pe hartă</h2>
            <br>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.884114398441!2d26.097011775701!3d44.435539301482414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1742225646161!5m2!1sro!2sro"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

        <div class="copyright">
            <p><small>Copyright &copy; <time datetime="2025-03-04">4 Martie 2025</time></small></p>
        </div>
    </section>

    <a href="#" title="mergi sus" id="link-top">
        <div class="arrow-container">
            <span class="arrow">&#8593;</span>
        </div>
    </a>

    <div id="banner"><b>Acesta este un proiect scolar!</b></div>
    <p id="watermark">Ioja<br />Denis</p>

</footer>