<script src="/resurse/js/tema.js"></script> <!--script pentru schimbarea temei -->
<header> <!--antetul documentului -->
    <h1 style="color : rgb(201, 223, 172)">Din targ</h1> <!--titlul paginii, style ii seteaza culoarea -->
    <nav> <!--navigare-->
        <label id="hamburger" for="ch-menu">
            <!--label pentru hamburger, for-ul ii seteaza id-ul -->
            <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label> <!--label pentru hamburger, for-ul ii seteaza id-ul -->
        <input id="ch-menu" type="checkbox"> <!--checkbox-ul pentru meniu -->
        <!-- ol - ordered list -->
        <ul class="meniu"> <!--listă neordonată -->
            <li> <!--list item-->
                <a href="#acasa">Acasa</a>
                <!--link către secțiunea 1, a - anchor, e necesar pentru a crea hyperlink -->
                <ul>
                    <li><a href="/index#welcome">Bine ati venit</a></li>
                    <li><a href="/index#promotii">Promotii</a></li>
                    <li><a href="/index#anunturi">Anunturi</a></li>
                    <li><a href="/index#orar">Orar</a></li>
                    <li><a href="/index#intrebari">Intrebari</a></li>
                    <li><a href="/index#confectionare">Confectionare</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Produse</a> <!--astea vin din prajituri.sql-->
                <ul>
                    <li><a href="/produse">Toate</a></li>
                    <!-- <li><a href="/produse?tip=cofetarie">Vestimantare</a></li>
                    <li><a href="/produse?tip=gelaterie">Decorative</a></li>
                    <li><a href="/produse?tip=patiserie">Muzicale</a></li>
                    <li><a href="/produse?tip=cofetarie">Suveniruri</a></li>
                    <li><a href="/produse?tip=cofetarie">Alimente</a></li> -->
                    <% for (let opt of locals.optiuniMeniu) { %>
                        <li><a href="/produse?tip= <%= opt.unnest %>"><%= opt.unnest %></a></li>
                    <% } %> 
                </ul>
            </li>
            <li>
                <a href="#">Despre</a>
                <ul>
                    <li><a href="/despre#prezentare.html">Prezentare</a></li>
                    <li><a href="/despre#istoric.html">Istoric</a></li>
                    <li><a href="/despre#motivatie.html">Motivatie</a></li>
                    <li><a href="/galerie">Galerie</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Cos cumparaturi</a>
            </li>
            <li>
                <a href="#">Pagina logare</a>
            </li>
            <li><button id = "schimba_tema">Tema</button></li>
        </ul>
    </nav>
</header>