<header> <!--antetul documentului -->
    <h1 style="color : rgb(201, 223, 172)">Din targ</h1> <!--titlul paginii, style ii seteaza culoarea -->
    <nav> <!--navigare-->
        <label id="hamburger" for="ch-menu">
            <!--label pentru hamburger, for-ul ii seteaza id-ul -->
            <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label> <!--label pentru hamburger, for-ul ii seteaza id-ul -->
        <input id="ch-menu" type="checkbox"> <!--checkbox-ul pentru meniu -->
        <!-- ol - ordered list -->
        <ul class="meniu"> <!--listă neordonată -->
            <li> <!--list item-->
                <a href="#acasa">Acasa</a>
                <!--link către secțiunea 1, a - anchor, e necesar pentru a crea hyperlink -->
                <ul>
                    <li><a href="#welcome">Bine ati venit</a></li>
                    <li><a href="#promotii">Promotii</a></li>
                    <li><a href="#anunturi">Anunturi</a></li>
                    <li><a href="#orar">Orar</a></li>
                    <li><a href="#intrebari">Intrebari</a></li>
                    <li><a href="#confectionare">Confectionare</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Produse</a>
                <ul>
                    <li><a href="vestimentatie.html">Vestimantare</a></li>
                    <li><a href="decorative.html">Decorative</a></li>
                    <li><a href="muzicale.html">Muzicale</a></li>
                    <li><a href="suveniruri.html">Suveniruri</a></li>
                    <li><a href="alimente.html">Alimente</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Despre</a>
                <ul>
                    <li><a href="prezentare.html">Prezentare</a></li>
                    <li><a href="istoric.html">Istoric</a></li>
                    <li><a href="motivatie.html">Motivatie</a></li>
                    <li><a href="galerie.html">Galerie</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Cos cumparaturi</a>
            </li>
            <li>
                <a href="#">Pagina logare</a>
            </li>
        </ul>
    </nav>
</header>